flask

python-dotenv
langchain
langchain-nvidia-ai-endpoints
langchain-community
SQLAlchemy
faiss-cpu
sentence-transformers
langchain-huggingface
pypdf
unstructured
markdown
pytesseract
Pillow
PyMuPDF
Werkzeug
gTTS
Flask-SQLAlchemy
Flask-Login
Flask-WTF
email-validator
Flask-Migrate
gunicorn
gevent
Flask-Talisman
Flask-Limiter
pytest
gunicorn==20.1.0
